/* src/.vitepress/theme/style/index.css */

@import "./hidden_line.css";
@import "./blur.css";
@import "./theme.css";

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    exclude: scrollbar, rootscrollgutter;
}

::-webkit-scrollbar {
    display: none;
}

div.collapse.collapse-arrow div.collapse-title::after {
    margin-top: 10px;
}
